**Apriori**

**importing the libraries**

In [2]:
!pip install apyori

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Data Preprocessing**

In [44]:
data= pd.read_csv('Market_Basket_Optimisation.csv',header=None)
data.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
transactions =[]
row = len(data)

for transaction in range(row):
    items = list(data.iloc[transaction,:])
    transactions.append([x for x in items if isinstance(x,str)])

**Training the Apriori model on the dataset**

In [64]:
from apyori import apriori

minimum_count =3       # Assuming we want the items to show up at least 3 times in all daily transaction 
days_of_week=7
total_week_transaction= len(data)  # the table contains total transaction for the week
min_support = minimum_count*days_of_week/total_week_transaction

rules = apriori(transactions=transactions,
               min_support=min_support,
               min_confidence=.3,
               min_lift=3,
               max_length=2)

**Visualising the results**

**Displaying the first reults coming directly from the output of the apriori function**

In [65]:
results = list(rules)
results

[RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'escalope', 'pasta'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

**Putting the results well organized into a Pandas Dataframe**

In [193]:
table = {
'base_item' : [tuple(r[-1][0][0])[0] for r in results],
'added_item': [list(r[-1][0][1])[0] for r in results],
'support' : [r[1] for r in results],
'confidence' : [r[-1][0][2] for r in results],
'lift': [r[-1][-1][-1] for r in results]
}
resultsinDataFrame = pd.DataFrame(table)

**Displaying the result non sorted**

In [194]:
resultsinDataFrame

              base_item   added_item   support  confidence      lift
0  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
1                 pasta     escalope  0.005866    0.372881  4.700812
2         herb & pepper  ground beef  0.015998    0.323450  3.291994
3          tomato sauce  ground beef  0.005333    0.377358  3.840659
4                 pasta       shrimp  0.005066    0.322034  4.506672

**Displaying the result sorted by descending lift**

In [198]:
resultsinDataFrame.sort_values(['lift'],ascending=False).reset_index(drop=True)

              base_item   added_item   support  confidence      lift
0                 pasta     escalope  0.005866    0.372881  4.700812
1                 pasta       shrimp  0.005066    0.322034  4.506672
2          tomato sauce  ground beef  0.005333    0.377358  3.840659
3  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
4         herb & pepper  ground beef  0.015998    0.323450  3.291994